
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.atkinson-header {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.atkinson-body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.atikson-H2 {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.Section-One {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #201e13;
    padding: 20px;
    gap: 20px;
}

.Nav-Links {
    display: flex;
    align-items: center;
    background-color: #ffffff10;
    padding: 10px 20px;
    border-radius: 50px;
    justify-content: space-between;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fcfaf1;
}

.IJLTL-Logo {
  width: 85px;
  height: auto;
  display: block;
}

.Nav-Links ul {
  list-style: none; 
  margin: 0;       
  padding: 0;
  display: flex;
  gap: 20px;
}

.Nav-Links li a {
  text-decoration: none; 
  color: inherit;
}

.Text-and-Image{  
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Header-and-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    color: #fcfaf1;
}

.Header-Button {
  padding: 15px;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #201e13;
  background-color: #fcfaf1;
  border-radius: 35px;
  width: 85px;
}

.hero-image {
  width: 500px;
  height: auto;
  display: flex;
  border-radius: 10px;
}

.Section-Two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.Image-Row{
    display: flex;
    gap: 130px;
}

.Image-Border{
    width: 150px;
    height: 150px;
    border: 2.5px;
    border-color: #b2b2b2;
    border-style: solid;
    border-radius: 10px;
    background-color: #e9e8e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two-image{
    width: auto;
    height: 100%;
    max-height: 100px;
    flex-shrink: 0;
}

.Image-and-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 14px;
    font-weight: 500;
    gap: 20px;
    padding: 10px;
}

.Section-Three{
    background-color: #e9e8e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 150px;
}

.Quote-Text {
    text-align: right;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
}

.Author {
    text-align: right;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 22px;

}


.Quote-and-Author{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.Section-Four{
    display: flex;
    background-color: #04927a;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 85px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 35px;
}

.CTA{
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#fcfaf1
}

.CTA-Text{
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:#fcfaf1 
}

.CTA-Button{
  padding: 10px;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  border: 1px;
  border-color: #fcfaf1;
  border-style: solid;
  border-radius: 35px;
  width: 85px;
}

.Section-Five{
  display: flex;
  justify-content: center;
  background-color: #201e13;
  padding: 20px;
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin: 0;

}