
.atkinson-header {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.atkinson-body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.atikson-H2 {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.Section-One {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    margin: 20px;
    padding: 20px;
    gap: 20px;
}

.Nav-Links {
    display: flex;
    align-items: center;
    background-color: #fcfaf1;
    justify-content: space-between;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.IJLTL-Logo {
  width: 85px;
  height: auto;
  display: block;
}

.Nav-Links ul {
  list-style: none; 
  margin: 0;       
  padding: 0;
  display: flex;
  gap: 20px;
}

.Nav-Links li a {
  text-decoration: none; 
  color: inherit;
}

.Text-and-Image{
    background-color: chartreuse;   
    display: flex;
    gap: 35px;
}

.Header-and-Text{
    display: flex;
    flex-direction: column;
}

.hero-image {
  width: 500px;
  height: auto;
  display: flex;
  opacity: 75%;
}

.Section-Two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkolivegreen;
}

.Image-Row{
    display: flex;
    gap: 130px;
    background-color: darksalmon;
}

.section-two-image{
    width: auto;
    height: 100%;
    max-height: 100px;
    flex-shrink: 0;
}

.Image-and-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-size: 14px;
    gap: 20px;
    background-color: aqua;
}

